parameters:
    level: 8
    paths:
        - src
        - bin
        - public
    excludePaths:
        - public/assets/*
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
